MOVIEDB_KEY=movie_db_key
DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=lists
DB_SSL=true if heroku
DB_PORT=5432
JWT_SECRET=JWT_SECRET
FACEBOOK_APP_ID=123456
FACEBOOK_APP_SECRET=FACEBOOK_APP_SECRET
YELP_CONSUMER_KEY=CONSUMER_KEY
YELP_CONSUMER_SECRET=CONSUMER_SECRET
YELP_TOKEN=TOKEN
YELP_TOKEN_SECRET=TOKEN_SECRET