// This is the top-level scss file. Import all other files in here.
@import 'home';
img {
  max-width: 100%;
}
body {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #008080), color-stop(100%, #66FF8A));
}
.panel-default>.panel-heading {
  color: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #008080), color-stop(100%, #57B3FF));
  width: 413px;

}

.panel-body {
  height: 30px;
  line-height: 0;

}

.logo {
 position: absolute;
 top: -25px;
 left: -135px;
 max-height: 250%;
}

.panel-default {
  width: 415px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-title {
  padding-left: 40px;
}

.newPanel {
  .add{
    display: none;
  }
  .remove {
    display: inline;
  }
}

.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   position: relative;
}

.panel-container {
  margin-top: 80px;
  margin-left: 30%;
}

.navbar-form {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-text {
  position: absolute;
  top: 10px;
  right: 25px;
}

.add {
  height: 27px;
  width: 27px;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.remove {
  display: none;
  height: 27px;
  width: 27px;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.panel-movie {
position: relative;
}

