// This is the top-level scss file. Import all other files in here.
@import 'home';
.image {
  width: 100%;
}
body {
  background: #C4D7ED;
  height: 100%;
}

div[data-reactroot] {
  height:100%;
}

// .input-group {
//   width: 100%;
// }

html {

  height: 100%;
}

.panel-default, .panel-heading {
  border: none;
}

.panel-default>.panel-heading {
  color: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #008080), color-stop(100%, #57B3FF));
}

.panel-default>.panel-heading-resturaunt {
  color: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fd746c), color-stop(100%, #ff9068));
}

.panel-body {
  padding: 0;

}

.panel-heading {
  padding: 5px 15px;
}

.panel-heading-resturaunt {
  padding: 5px 15px;
}

.logo {
 position: inherit;
 top: -15px;
 left: -135px;
 max-height: 250%;
 padding: 0;

 &:hover {
  cursor: pointer;
 }
}

.panel-default {
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-title {
  line-height: inherit;
}

.newPanel {
  .add{
    display: none;
  }
  .remove {
    display: inline;
  }
}

.navbar-default {
  background: #9DACE2;
  border: none;
  border-radius: 0;
   // background: transparent;
   // border-color: transparent;
   position: fixed;
}

.panel-container {
  margin-top: 80px;
  margin-left: 30%;
}

// .navbar-form {
//   position: absolute;
//   top: 0px;
//   right: 10px;
// }

// .navbar-text {
//   position: absolute;
//   top: 0px;
//   right: 25px;
// }

.add {
  height: 19px;
  width: 19px;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.progress {
  background-color: #F5F22E;
  margin-bottom: 0;
}

.review-bar-container {
  padding-top: 10px;
  position: relative;
  top: 95px;
}

.poster {
  margin: 0;
  dl {
    text-align: left;
    margin-bottom: 0;
  }
  dt {
    width: 130px;
  }
  dd {
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 150px;
  }
}

.restaurant {
  margin: 0;
  dl {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  dt {
    width: 100px;
  }
  dd {
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 120px;
  }
  .restaurant-reviewer {
    padding-top: 20px;
    padding-left: 40px;
    img {
      width: 60px;
    }
  }
}

.restaurant-footer {
  padding-top: 20px;
}
.glyphicon-remove {
  color: red;
  font-size: 17pt;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.drop {
  color: black;
  opacity: .6;
  position: relative;
  transition-duration: 200ms;
  text-align: center;

  &:click {
  -moz-transform: scaleX(-.5);
  -o-transform: scaleX(-.5);
  -webkit-transform: scaleX(-.5);
  transform: scaleX(-.5);
  filter: FlipH;
  -ms-filter: "FlipH";

  }

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

iframe {
  width: 100%;
  height: 285px;
}

.glyphicon-chevron-right {
  font-side:10pt;
  top: 20px;
  font-size: 20pt;
  line-height: 0;
  opacity: .6;
  color: #080808;

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.glyphicon-chevron-down {
  font-side:10pt;
  top: 20px;
  font-size: 20pt;
  line-height: 0;
  opacity: .6;
  color: #080808

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.glyphicon-facetime-video {
  font-side:10pt;
  top: 20px;
  font-size: 20pt;
  line-height: 0;
  opacity: .6;
  color: #080808

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }

}

.glyphicon-thumbs-up {
  color: green;
}

.glyphicon-thumbs-down {
  color: red;
}

.voteup {
  font-side:10pt;
  font-size: 20pt;
  float: right;
  position: relative;
  right: 5px;
  top: -10px;
  line-height: 0;
  color: black;
  opacity: .6;

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.voteup-on {
  font-side:10pt;
  font-size: 20pt;
  float: right;
  position: relative;
  right: 5px;
  top: -10px;
  line-height: 0;
  color: green;
  opacity: .6;

   &:hover {
  opacity: 1.0;
  cursor: pointer;
  }

}

.voteup-off {
  font-side:10pt;
  font-size: 20pt;
  float: right;
  position: relative;
  right: 5px;
  top: -10px;
  line-height: 0;
  color: green;
  opacity: .6;

   &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.btn-group {

}

.votedown {
  font-side:10pt;
  font-size: 20pt;
  float: left;
  position: relative;
  left: 5px;
  top: -12px;
  line-height: 0;
  color: black;
  opacity: .6;

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.votedown-on {
  font-side:10pt;
  font-size: 20pt;
  float: left;
  position: relative;
  right: 5px;
  top: -10px;
  line-height: 0;
  color: red;
  opacity: .6;

   &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.votedown-off {
  font-side:10pt;
  font-size: 20pt;
  float: left;
  position: relative;
  left: 5px;
  top: -12px;
  line-height: 0;
  color: red;
  opacity: .6;

   &:hover {
  opacity: 1.0;
  cursor: pointer;
  }
}

.voteupcount {
  position: absolute;
  top: 15px;
  right: 30px;
}

.votedowncount {
  position: absolute;
  top: 15px;
  left: 30px;
}

.bounce {
  animation: bounce .5s .1s;
  transform: scale(1.0);
}

@keyframes bounce {
  0% { transform: scale(1.1); opacity: 1 }
  50% { transform: scale(1.6); opacity: .7; }
  60% { transform: scale(0.6); opacity: 1 }
  80% { transform: scale(0.95) }
  100% { transform: scale(0.85) }
}

.close {
  font-size: 25px;
  opacity: .6;

  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.open {
  font-size: 25px;
  text-align: center;
  opacity: .6;

  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.undo {
  color: blue;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 15pt;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.show-grid {
  height: 100%;
  padding-top: 60px;
}

.container {
  height: 100%;
}
.movieContainer {
  height: calc(100% - 10px);
  background: #9DACE2;
  padding-top: 20px;
  margin-top: -10px;
  border-top: 2px solid #e7e7e7;
  // border-bottom: 3px solid transparent;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  .content {
    height: calc(100% - 10px);
    overflow: scroll;
  }
}

.historyContainer {
  height: calc(100% - 20px);
  // overflow: scroll;
  border-bottom: 3px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .list-container {
    height: 100%;
    .content {
      height: calc(100% - 70px);
      overflow: scroll;
    }
  }
}

.chatuser1 {
  color: red;
}

.chatuser2 {
  color: red;
}

.chatContainer {
  height: calc(100% - 20px);
  background: white;
  border-bottom: 3px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .content {
    height: calc(100% - 120px);
    overflow: scroll;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 20px;
  padding: 0;
  margin: 0;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
}

.panel-movie {
position: relative;
}

.container {
  // margin-left: 0;
  // margin-right: 0;
  // padding:0;
  // margin-bottom: 0;
}

// .form-group {
//   width: 40%;
//   display: inline-block;
// }

img.poster-image {
  width: 100%;
}

.genre {
  font-size: 15px;
  color: lightgrey
}

.actors{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 1s ease;
}

.actors:hover {
  height: 60px;
  width: 60px;
  transform:scale(2) rotate(720deg);
}

.movieRuntime{
  float: right;
  color: grey;
  margin-right: 10px
}

#chat-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  li.list-group-item{
    padding: 0;
  }
}
li.list-group-item {
  a:visited {
    color: #555;
  }
  &.active, &.active:hover, &.active:focus {
    background-color: #e7e7e7;
    border-color: #e7e7e7;
  }
}
