// This is the top-level scss file. Import all other files in here.
@import 'home';
img {
  max-width: 100%;
}
body {
  background: #C4D7ED
}
.panel-default>.panel-heading {
  color: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #008080), color-stop(100%, #57B3FF));
  width: 358px;

}

.panel-body {
  height: 30px;
  line-height: 0;
  text-align: center;

}

.logo {
 position: absolute;
 top: -25px;
 left: -135px;
 max-height: 250%;
}

.panel-default {
  width:360px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-title {
  text-align: center;
  line-height: inherit;
}

.newPanel {
  .add{
    display: none;
  }
  .remove {
    display: inline;
  }
}

.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   position: relative;
}

.panel-container {
  margin-top: 80px;
  margin-left: 30%;
}

.navbar-form {
  position: absolute;
  top: 0px;
  right: 10px;
}

.navbar-text {
  position: absolute;
  top: 0px;
  right: 25px;
}

.add {
  height: 22px;
  width: 22px;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.progress {
  background-color: #F5F22E;
}

.poster {
  padding-left: 45px;
}

.remove {
  height: 27px;
  width: 27px;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}

.drop {
  color: black;
  opacity: .5;
  position: absolute;
  top: 10px;
  left: 10px;
  transition-duration: 200ms;

  &:hover {
  opacity: 1.0;
  cursor: pointer;
  }

  &:click {
  -moz-transform: scaleX(-.5);
  -o-transform: scaleX(-.5);
  -webkit-transform: scaleX(-.5);
  transform: scaleX(-.5);
  filter: FlipH;
  -ms-filter: "FlipH";

  }
}

.undo {
  color: blue;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-duration: 200ms;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";


  &:hover {
  opacity: 1.0;
  cursor: pointer;

  }
}
.movieContainer {
  background: #9DACE2;
  border-bottom: 3px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.historyContainer {
  background: #375D81;
  border-bottom: 3px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chatContainer {
  background: #9DACE2;
  border-bottom: 3px solid transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel-movie {
position: relative;
}

.container {
  margin-left: 10px;
  margin-right: -10px;
  padding:0;
}

